<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] (%F:%L) %c - %m%n"/>
        </layout>
    </appender>
    <appender name="R0" class="org.apache.log4j.RollingFileAppender">
        <!-- <param name="File" value="/home/luigi/svil/logs/trz.log"/>-->
        <param name="File" value="./trz.log"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="3"/>
        <param name="layoutPartsDelimiter" value="@@"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
    </appender>


    <logger name="trzpoc" additivity="false">
        <level value="info" />
        <appender-ref ref="R0" />
        <appender-ref ref="CONSOLE" />
    </logger>
    <root>
        <level value="info" />
    </root>
</log4j:configuration>
